.restaurantsWrapper {
    margin: 15rem 7%;
    text-align: center;

    input {
        padding: 6px 12px;
        width: 450px;
    }

    h1 {
        margin-bottom: 25px;
    }

    a {
        display: block;
    }
}